* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: #fadadd;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 16px;
    padding: 16px;
}

h1 {
    border-bottom: 2px solid #68686D;
    letter-spacing: 3px;
}

h3 {
    border-bottom: 1px solid #68686D;
}

li, p {
    color: #68686D;
}

img {
    width: 500px;
    height: auto;
}

.container, .description {
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container-left {
    text-align: left;
    padding: 10px;
    margin: 0 70px;
}

ul {
    list-style: none;
}

.container-left li {
    padding: 10px;
}
a {
    text-decoration: none;
    color: #000;
}

.btn {
    background-color: #DAFAF7;
    margin: 10px;
    padding: 1rem;
}

.btn:hover {
    background-color: #ADF4ED;
}

.btn-small {
    width: 80px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.bottom {
    margin: 30px;
    text-align: left;
}

.description {
    width: 700px;
    height: auto;
    line-height: 30px;
}